* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text {
  font-size: 32px;
  font-weight: 900;
  margin-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
}

.footer-text {
  margin: auto;
}

.content {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 300px;
  background: royalblue;
  flex-shrink: 0;
  padding: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.cards {
  display: flex;
  padding: 32px;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 20px;
  flex-basis: 350px;
  flex-shrink: 0;
}